@model IEnumerable<Projekt_1.Model.passbook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OpeningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialDepositAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SavingsAccountType.AccountTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.user_address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialDepositAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SavingsAccountType.AccountTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.user_address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SavingsBookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SavingsBookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SavingsBookID })
        </td>
    </tr>
}

</table>
